body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Montagu Slab", serif;
  font-weight: 500;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4rem;
}

button {
  background: #5CB8C4;
  border: solid 1px #74A4A7;
  padding: .75em;
  color: white;
  font-size: 1em;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin: 0 .5em .5em 0;
  border-radius: 2px;
  font-family: "Fira Sans", sans-serif;
}

button:hover {
  background: #74A4A7;
  cursor: pointer;
}

.wrapper {/* for beatronics/16X9 displays */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #F9FDFF;
  text-align: center;
}

@media screen and (max-aspect-ratio: 9.5/9) {/* let content scroll for anything that's less letter box-y */
  .wrapper {
    overflow-y: scroll;
  }
}

div.background img.sky {
  height: 90%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

div.background img.land {
  height: 80%;
  width: auto;
  position: absolute;
  top: 10vh;
  left: 0;
}

/* adding per ai leapfrog attract */
.sky1, .sky2, .land1, .land2 {
  position: absolute;
}

header {
  position: absolute;
  width: 100vw;
  text-align: center;
}

header h1 {
  color: #5CB8C4;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  letter-spacing: .15em;
}

div.hauler {/* positions the hauler and sled relative to the gray text box */
  position: absolute;
  top: 20vh;
  left: 33vw;
}

@media screen and (max-aspect-ratio: 11/9) {/* for displays that are less letter boxy */
  div.hauler {
    position: absolute;
    top: 23vh;
    left: 1vw;
    width: 100%;
  }
}

div.hauler img {/* 16/9 */
  width: 68%;
}

div.hauler img.logs {/* 16/9 */
  width: 31%;
}

@media screen and (max-aspect-ratio: 11/9) {/* displays that are less letter boxy */
  div.hauler img {
    width: 65%;
  }
  div.hauler img.logs {
    width: 31%;
  }
}

div.idle {
  background: rgba(217, 217, 217, .7);
  color: #525252;
  position: absolute;
  top: 65vh;
  left: 33vw;
  width: 40vw;
  border: 1px solid lightgray;
  padding: 1%;
}

/* text box for challenges and feedback */
article {/* */
  background: rgba(217, 217, 217, .7);
  color: #525252;
  position: absolute;
  top: 40vh;
  margin: 0 0 0 2vw;
  width: 25vw;
  min-height: 35vh;
  border: 1px solid lightgray;
  padding: 1%;
  text-align: left;
}

@media screen and (max-aspect-ratio: 11/9) {/* for less letter boxy displays, stack the hauler and text box */
  article {
    margin: 0 15vw;
    top: 70vh;
    width: 70vw;
    min-height: 15vh;
  }
}

article h2 {
  margin: 1.65em 0 0 0;
  color: #5CB8C4;
  border-top: 1px solid lightgray;
}

div.feedback {
  height: 18vh;
  overflow-y: scroll;
  background: lightgray;
  margin-bottom: 6px;
}

div.feedback p {
  margin: 0 0 1em 0;
  font-style: italic;
}

div.feedback a {
  display: block;
  color: #525252;
}

/* challenge numbered dots */
article header.text-box {
  width: 94%;
  top: -30px;
}

article header.text-box ul.progress {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

article header.text-box ul.progress li.progress-item {
  display: inline-block;
  background: #D2D2D2;
  width: 60px; 
  font-size: 2em;
  line-height: 1.75;
  height: 60px;
  color: white;
  border-radius: 50%;
}

/* progress number label */
article header.text-box ul.progress li.progress-item span { 
  display: block;
  color: #5CB8C4;/* aqua */
  font-size: .35em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: "Fira Sans", sans-serif;
  margin-top: 4px;
}

article header.text-box ul.progress li.done {
  background: #74A4A7;
}

article header.text-box ul.progress li.current {
  background: #5CB8C4;
}

/* graphic options to answer the challenges */
ul.options {/* */
  position: absolute;
  top: 65vh;
  left: 36vw;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-aspect-ratio: 11/9) {/* */
  ul.options {
    top: 46vh;
    left: 3vw;
    height: 22vh;
  }
}

ul.options li {/* */
  display: inline-block;
  width: 15vw;
  margin-right: 2vw;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-aspect-ratio: 11/9) {/* */
  ul.options li {
    width: 23vw;
    margin-right: 6vw;
  }
}

ul.options li img {
  -webkit-user-drag: none;
  max-width: 100%;
  max-height: 100%;
}

ul.options li h3 {
  margin-top: 0;
  font-size: 1em;
}


@media screen and (max-aspect-ratio: 11/9) {/* */
  ul.options li h3 {
    margin-top: 0;
    font-size: .75em;
  }
}

.hide-option {
  visibility: hidden;
}

.shadows {/* */
  position: absolute;
  max-height: 80%;
  vertical-align: middle;
  opacity: 0.6;
}

@media screen and (max-aspect-ratio: 11/9) {/* */
  .shadows { 
    width: unset;
  }
}

p.credits {
  position: absolute;
  bottom: 5vh;
  right: 6vw;
}

@media screen and (max-aspect-ratio: 11/9) {/* move credits link to top for small displays */
  p.credits {
    position: absolute;
    top: 0vh;
    right: 6vw;
  }
}

p.credits a {
  color: #5CB8C4;
  text-decoration: none;
}

p.credits a:hover {
  text-decoration: underline;
}

#modal-overlay {
  background: url(./assets/overlay.png) repeat;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

#modal-wrapper {
  background-color: white;
  border: 1px solid lightgray;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  height: 30vh;
}

/* JavaScript assigns this (or .hidden) to modal container */
@media screen and (max-width: 799px) { /* displays smaller than 800px */
  .modal-basic {
    bottom: 0;
    display: block;
    left: 1vw;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 10vh;
    width: 90vw;
  }
}

@media screen and (min-width: 800px) { /* displays larger than 800px */
  .modal-basic {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;/* this positions the modal window relative to viewport, it won't scroll with the page */  
    z-index: 100;
    right: 0;
    top: 25vh;
    width: 50vw;
  }
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.close { 
  cursor:pointer;
}

.close:after, .close:before {
  content: "";
  height: 20px;
  width: 20px;
  border-top: 2px solid #c3c0c0;
  position: absolute;
  top: 6px;
  right: -8px;
  rotate: -45deg;
}
      
.close:before {
  right: 6px;
  rotate: 45deg;
}
  
.close:hover {  
  opacity: 0.3;
}
