body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Montagu Slab", serif;
  font-weight: 500;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #F9FDFF;
}

@media screen and (max-aspect-ratio: 9.5/9) {
  .wrapper {
    overflow: scroll;
  }
}

div.background img.sky {
  height: 90%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

div.background img.land {
  height: 80%;
  width: auto;
  position: absolute;
  top: 10vh;
  left: 0;
}

header {
  position: absolute;
  width: 100vw;
  text-align: center;
}

header h1 {
  color: #5CB8C4;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  letter-spacing: .15em;
}

div.hauler {
  position: absolute;
  top: 30vh;
  left: 33vw;
/*  width: 100%;*/
}

@media screen and (max-aspect-ratio: 9.5/9) {
  div.hauler {
    position: absolute;
    top: 30vh;
    left: 10vw;
    width: 100%;
  }
}

div.hauler img {
  width: 68%;
}

div.hauler img.logs{
  width: 31%;
}

@media screen and (max-aspect-ratio: 9.5/9) {
div.hauler img {
  width: 40%;
  }
}

/* text box for challenges and feedback */
article {
  background: rgba(217, 217, 217, .7);
  color: #525252;
  position: absolute;
  top: 40vh;
  right: 70vw;
  width: 25vw;
  min-height: 35vh;
  border: 1px solid lightgray;
  padding: 1%;
}

@media screen and (max-aspect-ratio: 9.5/9) {
  article {
    top: 80vh;
    left: 14vw;
    width: 70vw;
    min-height: 15vh;
  }
}

article h2 {
  margin: 1.65em 0 0 0;
  color: #5CB8C4;
  border-top: 1px solid lightgray;
}

div.feedback {
/*  height: 25vh;*/
  overflow-y: scroll;
  background: lightgray;
  margin-bottom: 6px;
}

div.feedback p {
  margin: 0 0 1em 0;
  font-style: italic;
}

div.feedback a {
  display: block;
  color: #525252;
}

/* challenge numbered dots */
article header.text-box {
  width: 94%;
  top: -30px;
}

article header.text-box ul.progress {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

article header.text-box ul.progress li.progress-item {
  display: inline-block;
  background: #D2D2D2;
  width: 60px; 
  font-size: 2em;
  line-height: 1.75;
  height: 60px;
  color: white;
  border-radius: 50%;
}

article header.text-box ul.progress li.progress-item span { /* progress number label */
  display: block;
  color: #5CB8C4;/* aqua */
  font-size: .35em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: "Fira Sans", sans-serif;
  margin-top: 4px;
}

article header.text-box ul.progress li.done {
  background: #74A4A7;
}

/* graphic options to answer the challenges */
ul.options {
  position: absolute;
  bottom: 3vh;
  left: 36vw;
  list-style-type: none;
}

@media screen and (max-aspect-ratio: 9.5/9) {
  ul.options {
    top: 55vh;
    left: 3vw;
    height: 22vh;
  }
}

ul.options li {
  display: inline-block;
  height: 16vh;
  width: 15vw;
  margin-right: 2vw;
  text-align: center;
}

@media screen and (max-aspect-ratio: 9.5/9) {
  ul.options li {
    width: 23vw;
    margin-right: 6vw;
  }
}

ul.options li img {
  -webkit-user-drag: none;
  height: 100%;
}

.hide-option {
  visibility: hidden;
}

.can-be-overlayed { /* shadows? */
  position: absolute;
  width: 15vw;
  max-height: 15vh;
}

@media screen and (max-aspect-ratio: 9.5/9) {
  .can-be-overlayed { 
    width: unset;
  }
}
